# The .npmignore file is used in Node.js projects to specify files and directories that should be excluded when a package is published to the npm registry.
# Source files
src/
tsconfig.json

# Development files
.eslintrc.js
.prettierrc
.gitignore

# Testing
*.test.ts


# CI/CD
.github/

# IDE
.vscode/
.idea/

# Misc
*.log
.DS_Store
